body {
    font-size: 16px;
    font-family: 'Happy Monkey', cursive;
    background: red;
    position: relative;
}
header {
    width: 100%;
    height: 35px;
    background: #233D58;
    position: relative;
}
header h1 {
    display: none;
}
header nav .ioMenuMovil{
    height: 25px;
    width: 120px;
    cursor: pointer;
    line-height: 40px;
    margin: 0 0 0 10px;
    color: #29abe2;
    top: 0;
}
header nav .ioMenuMovil i {
    height: 100%;
    line-height: 40px;
}
header nav #card_menu {
    display: none;
    position: relative;
    width: 230px;
    height: 300px;
    top: -30px;
    left: 0;
    border-right: 3px solid #AFAEAE;
    z-index: 999;
    margin-top: 3px;
    background: white;
}
header nav #card_menu ul li {
    list-style: none;
    font-size: 1.5em;
    line-height: 37px;
}
header nav #card_menu ul li a {
    text-decoration: none;
    color: black;
}
header #pre_section, #next_section {
    width: 25px;
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    margin: 5px;
    position: absolute;
    top: 0;
}
header #pre_section {
    right: 35px;
}
header #next_section {
    right: 5px;
}
header #pre_section i, header #next_section i {
    position: relative;
    top: 5px;
    left: 2px;
    color: white;
}
#slider {
    width: 100%;
    position: relative;
    height: 600px;
    background: black;
}
#slider section.slide {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#slider #home {
    background: #233D58;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}
#slider #home i {
    color: white;
}
#slider #home .mainAnimation {
    width: 80%;
    margin-left: 10%;
    min-height: 300px;
    position: absolute;
}
#slider #home .mainlogo {
    position: relative;
    width: 60vw;
    margin-left: 20vw;
    min-height: 430px;
}
#slider #home .mainlogo h2 {
    font-size: 1.2em;
    padding-top: 80px;
    color: white;
    font-weight: lighter;
}
#slider #home .mainlogo strong {
    font-size: 2em;
    display: block;
}
#slider #home .mainlogo figure {
    width: 100%;
    margin: 0;
}
#slider #aboutme {
    background: green;
}
#slider #skills {
    background: purple;
}
#slider #portafolio {
    background: blue;
}
#slider #blog {
    background: yellow;
}
#conctact_form {
    position: absolute;
    right: 0;
    top: 35px;
    width: 250px;
    background: white;
    border-top: 1px solid black;
    box-shadow: 0 0 3px #9F9E9E;
    height: 100vh;
    z-index: 999;
    display: none;
}

#conctact_form #close_form i{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 85%;
    top: 140px;
    color: #29abe2;
}
#conctact_form #close_form:hover {
    cursor: pointer;
}
#conctact_form figure {
    height: 130px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #29abe2;
}
#conctact_form p {
    margin: 20px 0 20px 5%;
    width: 90%;
}
#conctact_form input,
#conctact_form textarea {
    display: block;
    margin: 20px 50px 0 5%;
    border: none;
    border-bottom: 2px solid gray;
    width: 90%;
    padding-bottom: 3px;
    font-weight: bold;
}
#conctact_form #button {
    background: #F8931F;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
}
#contact_button {
    width: 60px;
    height: 60px;
    color: #F8931F;
    position: fixed;
    top: 80vh;
    right: 10px;
    text-align: center;
}
#contact_button:hover {
    cursor: pointer;
}

@media screen and (min-width: 480px){
    #slider #home .mainlogo {
        width: 270px;
        left: 50%;
        margin-left: -135px;
    }
    #slider #home .mainlogo h2 {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 767px){
    header {
        height: 50px;
    }
    header h1 {
        display: inline-block;
        vertical-align: top;
        width: 35%;
        margin: 0 0 0 30px;
        height: 50px;
        line-height: 50px;
        min-width: 200px;
    }
    header h1 > * {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        margin: 0 3px;
    }
    header h1 a i{
        color: #f1f1f1;
    }
    header nav {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        position: relative;
    }
    header nav #showMenu, header nav #hideMenu {
        display: none;
    }
    header nav #card_menu {
        display: inline-block;
        border: none;
        background: none;
        position: relative;
        top: 0;
        width: 100%;
        text-align: right;
        padding-bottom: 0;
    }
    header nav #card_menu figure {
        display: none;
    }
    header nav #card_menu ul {
        padding: 0;
        margin: 0;
    }
    header nav #card_menu ul li {
        display: inline-block;
        width: 75px;
        text-align: center;
        font-size: 1em;
        margin: 0 -2px;
    }
    header nav #card_menu ul li a {
        color: white;
    }

    header #pre_section, header #next_section {
        position: absolute;
        right: 40px;
        width: 50px;
        height: 50px;
        z-index: 999;
    }
    header #pre_section {
        top: 115px;
    }
    header #next_section {
        top: 190px;
    }
    header #pre_section i, header #next_section i {
        color: #29abe2;
    }
    .fa-lg {
        font-size: 42px;
    }
    #conctact_form {
       top: 50px;
        width: 400px;
    }
    #contact_button {
        right: 45px;
    }
}

@media screen and (min-width: 950px){

}
